* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 3vw;
  top: 0;
  height: 7vh;
  width: 100%;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
}

h1 {
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
  margin-left: 15px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding: 5px;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 5px;
}

main {
  margin-top: 7vh;
  min-height: 85vh;
  padding: 2vh 3vw;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1vh 3vw;
}

#rosana-logo {
  height: 5vh;
  opacity: 0.6;
}

#social {
  display: flex;
  justify-content: center;
}

#social a {
  text-decoration: none;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

#social a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#social img {
  width: 2.2vh;
  display: block;
}

#copyright {
  opacity: 0.6;
}

/* ============== HOME ============== */
#home {
  display: flex;
  justify-content: space-between;
}

#home h2 {
  font-size: 1.2rem;
  padding-bottom: 2px;
  border: 1px dashed white;
  border-bottom-color: gray;
}

#noticias-texto {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 3vw;
  gap: 15px;
}

#home h3 {
  font-size: 1rem;
  margin-bottom: 15px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 2px;
}

#noticias-texto article {
  margin-bottom: 20px;
}

#noticias-texto iframe {
  width: 100%;
  height: 30vh;
}

#noticias-outras {
  min-width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#noticias-outras section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#ouca iframe {
  width: 100%;
  height: 232px;
}

/* ============== SOBRE ============== */

#sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sobre img {
  height: 40vh;
  border-radius: 50%;
  margin: 2vh 0;
}

#descricao {
  margin: 0 20vw;
  text-align: center;
}

#descricao p {
  margin: 10px 0;
}

/* ============== CONTATO ============== */

#contato{
  padding: 5vh 20vw;
}

#contato form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

#inputs {
  display: flex;
  gap: 10px
}

#inputs div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

#inputs input {
  width: 100%;
  height: 30px;
  padding: 5px;
}

#contato form textarea {
  width: 100%;
  height: 150px;
  padding: 5px;
}

#btn-send {
  background-color: gray;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#btn-send:hover {
  background-color: black;
}

/* ============== SAIBA MAIS ============== */

#saiba-mais {
  padding: 5vh 10vw;
}

#saiba-mais h3 {
  margin: 2vh 0 1vh;
  font-size: 1.2rem;
  padding-bottom: 2px;
  border: 1px dashed white;
  border-bottom-color: gray;
}

#saiba-mais #textos li {
  margin: 5px 20px;
}

@media screen and (max-width: 1200px) {
  /* ============== HOME ============== */

  #noticias-outras {
    min-width: 300px;
  }

  #ouca iframe {
    height: 180px;
  }
}

@media screen and (max-width: 900px) {
  header {
    height: 13vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2vh 3vw 1vh;
  }

  main {
    margin-top: 13vh;
  }

  /* ============== HOME ============== */

  #home {
    flex-direction: column;
  }

  /* ============== SOBRE ============== */
  #descricao {
    margin: 0 5vw;
  }

  /* ============== CONTATO ============== */

  #contato, #saiba-mais {
    padding: 5vh 10vw;
    min-height: 78vh;
  }

  #inputs {
    flex-direction: column;
    margin: 10px 0;
  }

  /* ============== SAIBA MAIS ============== */
  #saiba-mais h2 {
    margin-bottom: 10px;
    text-align: center;
  }

}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 1.3rem;
  }
}
