* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  position: fixed;
  top: 0;
  height: 7vh;
  padding: 1.5em;
  width: 100%;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
}

nav ul {
  /* width: 20vw; */
  display: flex;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
  font-size: 1.2rem;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  /* background-color: aqua; */
}


main {
  min-height: 83vh;
  margin-top: 7vh;
}


footer {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#rosana-logo{
  width: 8vh;
  opacity: 0.6;
}

#social {
  /* width: 20vw; */
  display: flex;
  justify-content: center;
}

#social a {
  text-decoration: none;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

#social a:hover {
  /* background-color: aqua; */
}

#social img {
  width: 2.5vh;
}

#copyright{
  opacity: 0.6;
}

@media screen and (max-width: 1200px) {
  * {
    /* font-size: 1.2em; */
  }
  
  /* #rosana-logo{
    width: 8vw;
  } */

  /* .social-media {
    width: 2vw;
  } */
}

@media screen and (max-width: 900px) {

  /* #copyright{
    display: none;
  } */
}

@media screen and (max-width: 600px) {
  /* footer {
    padding: 10px;
  } */

  /* #rosana-logo{
    width: 16vw;
    margin-top: 5px;
  } */

  /* .social-media {
    width: 4vw;
  } */

}
